@page "/dudaukycongno"
@using Blazored.LocalStorage
@using Syncfusion.Blazor.Data
@using Volo.Abp.ObjectMapping
@using tamkhoatech.ACWeb.Blazor.Pages.Common
@using tamkhoatech.ACWeb.Constants
@using tamkhoatech.ACWeb.DTO.QuanLyHeThong.CapNhatSoDuDauKy
@using tamkhoatech.ACWeb.DTO.QuanLyHeThong.CapNhatSoDuDauKy.DuDauKyCongNo
@using tamkhoatech.ACWeb.DTO.QuanLyHeThong.CapNhatSoDuDauKy.DuDauKyTk
@using tamkhoatech.ACWeb.Dto
@using tamkhoatech.ACWeb.IService
@using tamkhoatech.ACWeb.IService.IQuanLyHeThong

@inject ILocalStorageService _localStorage
@inject IJSRuntime _jsRuntime
@inject IObjectMapper _objectMapper
@inject IChiNhanhService _chiNhanh
@inject IThamSoHeThongService _thamSo
@inject ITaiKhoanService _taiKhoan
@inject IVuViecService _vuViec
@inject IDmMaPhiService _dmMaPhi
@inject IKhachHangService _khachHang
@inject IDuDauKyCongNoService _duDauKyCongNo
<link rel="stylesheet" href="/Css/danh-sach-phieu.css">
@if (hasRefreshed)
{
    <SfDialog ID="duDauKyCongNo" Width="520px" @bind-Visible="IsShowModal" AllowPrerender="true" IsModal="true">
        <DialogTemplates>
            <Header>
                <h1 class="thoiGianLamViec-title">
                    <img src="/images/TreeView/tamkhoa.ico" alt="icon" width="20" height="20">
                    <span style="text-align: center">
                        Cập nhật số dư công nợ đầu kỳ
                    </span>
                </h1>
            </Header>
            <Content>
                <EditForm Model="SelectDauKy" Context="firstForm" OnValidSubmit="@ConfirmSelectAsync">
                    <DataAnnotationsValidator />
                    <div class="mb-1">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="ChiNhanhId" class="form-label">Mã chi nhánh <span class="text-danger">*</span></label>
                            </div>
                            <div class="col-sm-3">
                                <SfComboBox @ref="ddCN" @bind-Value="@SelectDauKy.ChiNhanhId" DataSource="@ChiNhanhDtos" AllowFiltering="true" Autofill="true" AllowCustom="false" CssClass="e-multi-column e-small" PopupWidth="700" PopupHeight="300">
                                    <ComboBoxEvents TValue="int?" TItem="ChiNhanhDto" Filtering="OnFilteringChiNhanh" ValueChange="OnValueChangeChiNhanh"></ComboBoxEvents>
                                    <ComboBoxFieldSettings Value="Id" Text="ChiNhanhUd" />
                                    <ComboBoxTemplates TItem="ChiNhanhDto">
                                        <HeaderTemplate>
                                            <table class="header-combo">
                                                <thead>
                                                    <tr>
                                                        <th style="width:150px">Mã chi nhánh</th>
                                                        <th>Tên chi nhánh</th>
                                                        <th>Tên 2</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="itemContext">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:150px"><span>@((itemContext as ChiNhanhDto).ChiNhanhUd)</span></td>
                                                        <td><span>@((itemContext as ChiNhanhDto).ChiNhanhNm)</span></td>
                                                        <td><span>@((itemContext as ChiNhanhDto).ChiNhanhNm2)</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>
                                </SfComboBox>
                            </div>
                            <div class="col-sm-6">
                                <SfTextBox ID="ChiNhanhNm" CssClass="e-small" @bind-Value="@(SelectDauKy.ChiNhanhNm)" Enabled="false"></SfTextBox>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="TaiKhoanId" class="form-label">Tài khoản</label>
                            </div>
                            <div class="col-sm-3">
                                <SfComboBox @ref="ddTK" @bind-Value="@SelectDauKy.TaiKhoanId" DataSource="@TaiKhoanDtos" AllowFiltering="true" Autofill="true" AllowCustom="false" CssClass="e-multi-column e-small" PopupWidth="800" PopupHeight="300">
                                    <ComboBoxEvents TValue="int?" TItem="TaiKhoanDto" Filtering="OnFilteringTaiKhoan" ValueChange="OnValueChangeTaiKhoan"></ComboBoxEvents>
                                    <ComboBoxFieldSettings Text="TaiKhoanUd" Value="Id"></ComboBoxFieldSettings>
                                    <ComboBoxTemplates TItem="TaiKhoanDto">
                                        <HeaderTemplate>
                                            <table class="header-combo">
                                                <tr>
                                                    <th style="width:150px">Mã tài khoản</th>
                                                    <th>Tên tài khoản</th>
                                                    <th>Tên 2</th>
                                                </tr>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="itemContext">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:150px"><span>@((itemContext as TaiKhoanDto).TaiKhoanUd)</span></td>
                                                        <td><span>@((itemContext as TaiKhoanDto).TaiKhoanNm)</span></td>
                                                        <td><span>@((itemContext as TaiKhoanDto).TaiKhoanNm2)</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>
                                </SfComboBox>
                            </div>
                            <div class="col-sm-6">
                                <SfTextBox ID="TaiKhoanNm" CssClass="e-small" @bind-Value="@(SelectDauKy.TaiKhoanNm)" Enabled="false"></SfTextBox>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="Ngay" class="form-label">Số dư đầu ký của ngày</label>
                            </div>
                            <div class="col-sm-3">
                                <SfTextBox ID="Ngay" CssClass="e-small" Value="@SelectDauKy.Ngay.ToString("dd/MM/yyyy")" Enabled="false"></SfTextBox>
                            </div>
                        </div>
                    </div>
                    <div class="row-line"></div>
                    <div style="margin: 0px -8px" class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-primary">Nhận</button>
                    </div>
                </EditForm>
            </Content>
        </DialogTemplates>
    </SfDialog>

    <div @onkeyup="@OnKeyUp">
        <div class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
                <h4>
                    <label>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-database-fill-add" viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0M8 1c-1.573 0-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4s.875 1.755 1.904 2.223C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777C13.125 5.755 14 5.007 14 4s-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1" />
                            <path d="M2 7v-.839c.457.432 1.004.751 1.49.972C4.722 7.693 6.318 8 8 8s3.278-.307 4.51-.867c.486-.22 1.033-.54 1.49-.972V7c0 .424-.155.802-.411 1.133a4.51 4.51 0 0 0-4.815 1.843A12 12 0 0 1 8 10c-1.573 0-3.022-.289-4.096-.777C2.875 8.755 2 8.007 2 7m6.257 3.998L8 11c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13h.027a4.55 4.55 0 0 1 .23-2.002m-.002 3L8 14c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.5 4.5 0 0 1-1.3-1.905" />
                        </svg>
                        <strong>Cập nhật số dư công nợ đầu kỳ</strong>
                    </label>
                </h4>
            </div>
        </div>
        <div class="thong-ke">
            <span><b>F10</b>: Tổng cộng <strong>|</strong> <b>F3</b>: Sửa <strong>|</strong><b>F8</b>: Xóa <strong>|</strong> <b>F9</b>: Xuất excel </span>
        </div>
        <div class="row g-3">
            <NavbarMenu Content="@ContentNavbarMenu"
                        IsAdd="true" OnValidSubmitAdd="@AddAsync"
                        IsEdit="true" OnValidSubmitEdit="@EditAsync"
                        IsDelete="true" OnValidSubmitDelete="@DeleteAsync"
                        IsRefresh="true" OnValidSubmitRefresh="@RefreshAsync"
                        IsExcel="true" OnValidSubmitExcel="@ExportToExcelAsync"
                        IsSearch="true" OnValidSubmitSearch="@SearchAsync"
                        HelpUrl=@HelpUrl />
        </div>
        <br />
        <div class="row g-3">
            <SfGrid ID="gridDuDauKyCongNo" @ref="SfGrid" DataSource="@DuDauKyCongNoDtos" EnablePersistence="true" AllowExcelExport="true" AllowSelection="true" AllowPaging="true" AllowSorting="true" AllowResizing="true" AllowReordering="true" ShowColumnChooser="true" Width="auto" Height="360">
                <GridSelectionSettings CheckboxMode="CheckboxSelectionType.ResetOnRowClick" Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false"></GridEditSettings>
                <GridPageSettings PageSize="10"></GridPageSettings>
                <GridEvents OnRecordDoubleClick="RecordDoubleClickHandler" TValue="DuDauKyCongNoDto"></GridEvents>
                <GridColumns>
                    <GridColumn Type="ColumnType.CheckBox" TextAlign="TextAlign.Center" Width="50"></GridColumn>
                    <GridColumn Field=@nameof(DuDauKyCongNoDto.Id) HeaderText="#" IsPrimaryKey="true" Visible="false" ShowInColumnChooser="false" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(DuDauKyCongNoDto.ChiNhanhUd) HeaderText="Chi nhánh" ShowInColumnChooser="false" TextAlign="TextAlign.Left" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(DuDauKyCongNoDto.TaiKhoanUd) HeaderText="Tài khoản" TextAlign="TextAlign.Left" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(DuDauKyCongNoDto.VuViecUd) HeaderText="Vụ việc" TextAlign="TextAlign.Left" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(DuDauKyCongNoDto.MaPhiUd) HeaderText="Mã phí" TextAlign="TextAlign.Left" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(DuDauKyCongNoDto.KhachHangUd) HeaderText="Mã khách hàng" TextAlign="TextAlign.Left" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(DuDauKyCongNoDto.KhachHangNm) HeaderText="Tên khách hàng" TextAlign="TextAlign.Left" Width="300"></GridColumn>
                    <GridColumn Field=@nameof(DuDauKyCongNoDto.DuNo) HeaderText="Dư nợ ngoại tệ" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(DuDauKyCongNoDto.DuCo) HeaderText="Dư có ngoại tệ" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(DuDauKyCongNoDto.DuNoVND) HeaderText="Dư nợ" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(DuDauKyCongNoDto.DuCoVND) HeaderText="Dư có" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                </GridColumns>
                <GridAggregates>
                    <GridAggregate>
                        <GridAggregateColumns>
                            <GridAggregateColumn Field="@nameof(DuDauKyCongNoDto.TaiKhoanUd)" Type="AggregateType.Sum" Format="N0">
                                <FooterTemplate>
                                    @{
                                        var SumValue = (context as AggregateTemplateContext);
                                        <div style="color:black">
                                            Tổng cổng:
                                        </div>
                                    }
                                </FooterTemplate>
                            </GridAggregateColumn>
                            <GridAggregateColumn Field="@nameof(DuDauKyCongNoDto.DuNo)" Type="AggregateType.Sum" Format="N4">
                                <FooterTemplate>
                                    @{
                                        var SumValue = (context as AggregateTemplateContext);
                                        <div style="color:black">
                                            @SumValue?.Sum
                                        </div>
                                    }
                                </FooterTemplate>
                            </GridAggregateColumn>
                            <GridAggregateColumn Field="@nameof(DuDauKyCongNoDto.DuCo)" Type="AggregateType.Sum" Format="N4">
                                <FooterTemplate>
                                    @{
                                        var SumValue = (context as AggregateTemplateContext);
                                        <div style="color:black">
                                            @SumValue?.Sum
                                        </div>
                                    }
                                </FooterTemplate>
                            </GridAggregateColumn>
                            <GridAggregateColumn Field="@nameof(DuDauKyCongNoDto.DuNoVND)" Type="AggregateType.Sum" Format="N0">
                                <FooterTemplate>
                                    @{
                                        var SumValue = (context as AggregateTemplateContext);
                                        <div style="color:black">
                                            @SumValue?.Sum
                                        </div>
                                    }
                                </FooterTemplate>
                            </GridAggregateColumn>
                            <GridAggregateColumn Field="@nameof(DuDauKyCongNoDto.DuCoVND)" Type="AggregateType.Sum" Format="N0">
                                <FooterTemplate>
                                    @{
                                        var SumValue = (context as AggregateTemplateContext);
                                        <div style="color:black">
                                            @SumValue?.Sum
                                        </div>
                                    }
                                </FooterTemplate>
                            </GridAggregateColumn>
                        </GridAggregateColumns>
                    </GridAggregate>
                </GridAggregates>
            </SfGrid>
        </div>
    </div>

    <SfDialog ID="duDauKyTk-edit" Width="700px" @bind-Visible="IsShowModalEdit" AllowPrerender="true" IsModal="true">
        <DialogTemplates>
            <Header>
                @if(!IsEditing)
                {
                    <h1 class="thoiGianLamViec-title">
                        <img src="/images/TreeView/tamkhoa.ico" alt="icon" width="20" height="20">
                        <span style="text-align: center">
                            Thêm mới
                        </span>
                    </h1>
                }
                else
                {
                    <h1 class="thoiGianLamViec-title">
                        <img src="/images/TreeView/tamkhoa.ico" alt="icon" width="20" height="20">
                        <span style="text-align: center">
                            Chỉnh sửa
                        </span>
                    </h1>
                }
            </Header>
            <Content>
                <EditForm Model="SelectDuDauKyCongNo" Context="editForm" OnValidSubmit="@SaveAsync">
                    <DataAnnotationsValidator />
                    <div class="mb-1">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="ChiNhanhId" class="form-label">Mã chi nhánh</label>
                            </div>
                            <div class="col-sm-3">
                                <SfComboBox @ref="ddCNEdit" @bind-Value="@SelectDuDauKyCongNo.ChiNhanhId" DataSource="@ChiNhanhDtos" Enabled="false" Autofill="true" AllowCustom="false" CssClass="e-multi-column e-small" PopupWidth="700" PopupHeight="300">
                                    <ComboBoxFieldSettings Value="Id" Text="ChiNhanhUd"></ComboBoxFieldSettings>
                                    <ComboBoxTemplates TItem="ChiNhanhDto">
                                        <HeaderTemplate>
                                            <table class="header-combo">
                                                <thead>
                                                    <tr>
                                                        <th style="width:150px">Mã chi nhánh</th>
                                                        <th>Tên chi nhánh</th>
                                                        <th>Tên 2</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="itemContext">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:150px"><span>@((itemContext as ChiNhanhDto).ChiNhanhUd)</span></td>
                                                        <td><span>@((itemContext as ChiNhanhDto).ChiNhanhNm)</span></td>
                                                        <td><span>@((itemContext as ChiNhanhDto).ChiNhanhNm2)</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>
                                </SfComboBox>
                            </div>
                            <div class="col-sm-6">
                                <SfTextBox ID="ChiNhanhNm" CssClass="e-small" @bind-Value="@(SelectDuDauKyCongNo.ChiNhanhNm)" Enabled="false"></SfTextBox>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="TaiKhoanId" class="form-label">Số tài khoản <span class="text-danger">*</span></label>
                            </div>
                            <div class="col-sm-3">
                                <SfComboBox @ref="ddTKEdit" @bind-Value="@SelectDuDauKyCongNo.TaiKhoanId" DataSource="@TaiKhoanDtos" AllowFiltering="true" Enabled="@(!SelectDauKy.TaiKhoanId.HasValue)" Autofill="true" AllowCustom="false" CssClass="e-multi-column e-small" PopupWidth="700" PopupHeight="300">
                                    <ComboBoxEvents TValue="int?" TItem="TaiKhoanDto" Filtering="OnFilteringTaiKhoanEdit" ValueChange="OnValueChangeTaiKhoanEdit"></ComboBoxEvents>
                                    <ComboBoxFieldSettings Text="TaiKhoanUd" Value="Id"></ComboBoxFieldSettings>
                                    <ComboBoxTemplates TItem="TaiKhoanDto">
                                        <HeaderTemplate>
                                            <table class="header-combo">
                                                <tr>
                                                    <th style="width:150px">Mã tài khoản</th>
                                                    <th>Tên tài khoản</th>
                                                    <th>Tên 2</th>
                                                </tr>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="itemContext">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:150px"><span>@((itemContext as TaiKhoanDto).TaiKhoanUd)</span></td>
                                                        <td><span>@((itemContext as TaiKhoanDto).TaiKhoanNm)</span></td>
                                                        <td><span>@((itemContext as TaiKhoanDto).TaiKhoanNm2)</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>
                                </SfComboBox>
                            </div>
                            <div class="col-sm-6">
                                <SfTextBox ID="TaiKhoanNm" CssClass="e-small" @bind-Value="@(SelectDuDauKyCongNo.TaiKhoanNm)" Enabled="false"></SfTextBox>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="KhachHangId" class="form-label">Mã khách hàng <span class="text-danger">*</span></label>
                            </div>
                            <div class="col-sm-3">
                                <SfComboBox @ref="ddKHEdit" @bind-Value="@SelectDuDauKyCongNo.KhachHangId" DataSource="@KhachHangDtos" AllowFiltering="true" Autofill="true" AllowCustom="false" CssClass="e-multi-column e-small" PopupWidth="900" PopupHeight="300">
                                    <ComboBoxEvents TValue="int?" TItem="KhachHangDto" Filtering="OnFilteringKhachHangEdit" ValueChange="OnValueChangeKhachHangEdit"></ComboBoxEvents>
                                    <ComboBoxFieldSettings Text="KhachHangUd" Value="Id"></ComboBoxFieldSettings>
                                    <ComboBoxTemplates TItem="KhachHangDto">
                                        <HeaderTemplate>
                                            <table class="header-combo">
                                                <tr>
                                                    <th style="width:150px">Mã khách hàng</th>
                                                    <th>Tên khách</th>
                                                    <th style="width:150px">Mã số thuế</th>
                                                    <th style="width:150px">Số dư</th>
                                                    <th>Địa chỉ</th>
                                                </tr>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="itemContext">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:130px"><span>@((itemContext as KhachHangDto).KhachHangUd)</span></td>
                                                        <td><span>@((itemContext as KhachHangDto).KhachHangNm)</span></td>
                                                        <td style="width:130px"><span>@((itemContext as KhachHangDto).MaSoThue)</span></td>
                                                        <td style="width:130px"><span>@((itemContext as KhachHangDto).Sodu?.ToString("N0"))</span></td>
                                                        <td><span>@((itemContext as KhachHangDto).DiaChi)</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>
                                </SfComboBox>
                            </div>
                            <div class="col-sm-6">
                                <SfTextBox ID="KhachHangNm" CssClass="e-small" @bind-Value="@(SelectDuDauKyCongNo.KhachHangNm)" Enabled="false"></SfTextBox>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="VuViecId" class="form-label">Mã vụ việc</label>
                            </div>
                            <div class="col-sm-3">
                                <SfComboBox @ref="ddVVEdit" @bind-Value="@(SelectDuDauKyCongNo.VuViecId)" DataSource="@VuViecDtos" AllowFiltering="true" Autofill="true" AllowCustom="false" CssClass="e-multi-column e-small" PopupWidth="700" PopupHeight="300">
                                    <ComboBoxEvents TValue="int?" TItem="VuViecDto" Filtering="OnFilteringVuViecEdit" ValueChange="OnValueChangeVuViecEdit"></ComboBoxEvents>
                                    <ComboBoxFieldSettings Text="VuViecUd" Value="Id"></ComboBoxFieldSettings>
                                    <ComboBoxTemplates TItem="VuViecDto">
                                        <HeaderTemplate>
                                            <table class="header-combo">
                                                <tr>
                                                    <th style="width:150px">Mã vụ việc</th>
                                                    <th style="width:300px">Tên vụ việc</th>
                                                    <th>Tên 2</th>
                                                </tr>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="itemContext">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:150px"><span>@((itemContext as VuViecDto).VuViecUd)</span></td>
                                                        <td style="width:300px"><span>@((itemContext as VuViecDto).VuViecNm)</span></td>
                                                        <td><span>@((itemContext as VuViecDto).VuViecNm2)</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>
                                </SfComboBox>
                            </div>
                            <div class="col-sm-6">
                                <SfTextBox ID="VuViecNm" CssClass="e-small" @bind-Value="@(SelectDuDauKyCongNo.VuViecNm)" Enabled="false"></SfTextBox>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="MaPhiId" class="form-label">Mã phí</label>
                            </div>
                            <div class="col-sm-3">
                                <SfComboBox @ref="ddMPEdit" @bind-Value="@(SelectDuDauKyCongNo.MaPhiId)" DataSource="@DmMaPhiDtos" AllowFiltering="true" Autofill="true" AllowCustom="false" CssClass="e-multi-column e-small" PopupWidth="700" PopupHeight="300">
                                    <ComboBoxEvents TValue="int?" TItem="DmMaPhiDto" Filtering="OnFilteringMaPhiEdit" ValueChange="OnValueChangeMaPhiEdit"></ComboBoxEvents>
                                    <ComboBoxFieldSettings Text="DmMaPhiUd" Value="Id"></ComboBoxFieldSettings>
                                    <ComboBoxTemplates TItem="DmMaPhiDto">
                                        <HeaderTemplate>
                                            <table class="header-combo">
                                                <tr>
                                                    <th style="width:150px">Mã phí</th>
                                                    <th style="width:300px">Tên phí</th>
                                                    <th>Tên 2</th>
                                                </tr>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="itemContext">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:150px"><span>@((itemContext as DmMaPhiDto).DmMaPhiUd)</span></td>
                                                        <td style="width:300px"><span>@((itemContext as DmMaPhiDto).DmMaPhiNm)</span></td>
                                                        <td><span>@((itemContext as DmMaPhiDto).DmMaPhiNm2)</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>
                                </SfComboBox>
                            </div>
                            <div class="col-sm-6">
                                <SfTextBox ID="MaPhiNm" CssClass="e-small" @bind-Value="@(SelectDuDauKyCongNo.MaPhiNm)" Enabled="false"></SfTextBox>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-1">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="DuNoVND" class="form-label">Dư nợ</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <SfNumericTextBox ShowSpinButton="false" ID="DuNoVND" Format="N0" CssClass="e-small" @bind-Value="@(SelectDuDauKyCongNo.DuNoVND)" @onchange="OnValueChangeDuNoVND"></SfNumericTextBox>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="DuCoVND" class="form-label">Dư có</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <SfNumericTextBox ShowSpinButton="false" ID="DuCoVND" Format="N0" CssClass="e-small" @bind-Value="@(SelectDuDauKyCongNo.DuCoVND)" @onchange="OnValueChangeDuCoVND"></SfNumericTextBox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-1">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="DuNo" class="form-label">Dư nợ ngoại tệ</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <SfNumericTextBox ShowSpinButton="false" ID="DuNo" Format="N4" CssClass="e-small" @bind-Value="@(SelectDuDauKyCongNo.DuNo)" @onchange="OnValueChangeDuNo"></SfNumericTextBox>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="DuCo" class="form-label">Dư có ngoại tệ</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <SfNumericTextBox ShowSpinButton="false" ID="DuCo" Format="N4" CssClass="e-small" @bind-Value="@(SelectDuDauKyCongNo.DuCo)" @onchange="OnValueChangeDuCo"></SfNumericTextBox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-line"></div>
                    <div style="margin: 0px -8px" class="modal-footer">
                        <button type="button" class="btn btn-sm btn-danger" @onclick="CloseModalEdit">Hủy</button>
                        <button type="submit" class="btn btn-sm btn-primary">Lưu</button>
                    </div>
                </EditForm>
            </Content>
        </DialogTemplates>
    </SfDialog>

    <SfDialog ID="duDauKyTk-tinhTong" Width="532px" @bind-Visible="IsShowModalTinhTong" AllowPrerender="true" IsModal="true">
        <DialogTemplates>
            <Header>
                <h1 class="thoiGianLamViec-title">
                    <img src="/images/TreeView/tamkhoa.ico" alt="icon" width="20" height="20">
                    <span style="text-align: center">
                        Tính tổng
                    </span>
                </h1>
            </Header>
            <Content>
                <div class="mb-1">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="TinhTongTaiKhoanId" class="form-label">Tài khoản</label>
                        </div>
                        <div class="col-sm-3">
                            <SfComboBox @bind-Value="@TinhTongTaiKhoanId" DataSource="@TaiKhoanDtos" Enabled="@(!SelectDauKy.TaiKhoanId.HasValue)" Autofill="true" AllowCustom="false" CssClass="e-multi-column e-small" PopupWidth="700" PopupHeight="300">
                                <ComboBoxEvents TValue="int?" TItem="TaiKhoanDto" ValueChange="OnValueChangeTaiKhoanTinhTong"></ComboBoxEvents>
                                <ComboBoxFieldSettings Text="TaiKhoanUd" Value="Id"></ComboBoxFieldSettings>
                                <ComboBoxTemplates TItem="TaiKhoanDto">
                                    <HeaderTemplate>
                                        <table class="header-combo">
                                            <tr>
                                                <th style="width:150px">Mã tài khoản</th>
                                                <th>Tên tài khoản</th>
                                                <th>Tên 2</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="itemContext">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td style="width:150px"><span>@((itemContext as TaiKhoanDto).TaiKhoanUd)</span></td>
                                                    <td><span>@((itemContext as TaiKhoanDto).TaiKhoanNm)</span></td>
                                                    <td><span>@((itemContext as TaiKhoanDto).TaiKhoanNm2)</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>
                            </SfComboBox>
                        </div>
                        <div class="col-sm-6">
                            <SfTextBox ID="TinhTongTaiKhoanNm" CssClass="e-small" @bind-Value="@TinhTongTaiKhoanNm" Enabled="false"></SfTextBox>
                        </div>
                    </div>
                </div>
                <div class="mb-1">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="TinhTongKhachHangId" class="form-label">Mã khách hàng</label>
                        </div>
                        <div class="col-sm-3">
                            <SfComboBox @bind-Value="@TinhTongKhachHangId" DataSource="@KhachHangDtos" Autofill="true" AllowCustom="false" CssClass="e-multi-column e-small" PopupWidth="900" PopupHeight="300">
                                <ComboBoxEvents TValue="int?" TItem="KhachHangDto" ValueChange="OnValueChangeKhachHangTinhTong"></ComboBoxEvents>
                                <ComboBoxFieldSettings Text="KhachHangUd" Value="Id"></ComboBoxFieldSettings>
                                <ComboBoxTemplates TItem="KhachHangDto">
                                    <HeaderTemplate>
                                        <table class="header-combo">
                                            <tr>
                                                <th style="width:150px">Mã khách hàng</th>
                                                <th>Tên khách</th>
                                                <th style="width:150px">Mã số thuế</th>
                                                <th style="width:150px">Số dư</th>
                                                <th>Địa chỉ</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="itemContext">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td style="width:130px"><span>@((itemContext as KhachHangDto).KhachHangUd)</span></td>
                                                    <td><span>@((itemContext as KhachHangDto).KhachHangNm)</span></td>
                                                    <td style="width:130px"><span>@((itemContext as KhachHangDto).MaSoThue)</span></td>
                                                    <td style="width:130px"><span>@((itemContext as KhachHangDto).Sodu?.ToString("N0"))</span></td>
                                                    <td><span>@((itemContext as KhachHangDto).DiaChi)</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>
                            </SfComboBox>
                        </div>
                        <div class="col-sm-6">
                            <SfTextBox ID="TinhTongKhachHangNm" CssClass="e-small" @bind-Value="@TinhTongKhachHangNm" Enabled="false"></SfTextBox>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row g-3">
                    <SfGrid ID="gridDuDauKyTk-tinhTong" @ref="SfGridTinhTong" DataSource="@TinhTongDtos" EnablePersistence="true" AllowSelection="true" AllowSorting="true" AllowResizing="true" AllowReordering="true" Width="auto" Height="160">
                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false"></GridEditSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(TinhTongDto.DienGiai) HeaderText="Diễn giải" TextAlign="TextAlign.Left" Width="200"></GridColumn>
                            <GridColumn Field=@nameof(TinhTongDto.Tien) HeaderText="Tiền ngoại tệ" TextAlign="TextAlign.Right" Width="150" Format="N4"></GridColumn>
                            <GridColumn Field=@nameof(TinhTongDto.TienVND) HeaderText="Tiền" TextAlign="TextAlign.Right" Width="150" Format="N0"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
                <div class="row-line"></div>
                <div style="margin: 0px -8px" class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" @onclick="CloseModalTinhTong">Đóng</button>
                    <button type="button" class="btn btn-sm btn-primary" @onclick="TinhTongAsync">Nhận</button>
                </div>
            </Content>
        </DialogTemplates>
    </SfDialog>
    <ModalErrorMessage ShowModalMessage="@ShowModalMessage" CheckMessage="@CheckMessage" TextMessage="@TextMessage" IsDelete="@CheckDelete"
                       OnCloseMessage="CloseModalMessage" OnConfirmDelele="ConfirmDeleleAsync" />
}
else
{
    <h3>Vui lòng chờ....</h3>
}
<style>
    #DuNo, #DuNoVND, #DuCoVND, #DuCoVND {
        text-align: end;
        padding-right: 8px;
    }
</style>
@code {
    private bool hasRefreshed = false;
    private string ContentNavbarMenu = "số dư đầu kỳ công nợ";
    private string HelpUrl = "https://tamkhoatech.vn/huong-dan-su-dung/cap-nhat-so-du-cong-no-dau-ky/";

    private bool IsShowModal = true;
    private DauKyRequest SelectDauKy = new DauKyRequest();
    private List<ChiNhanhDto>? ChiNhanhDtos;
    private SfComboBox<int?, ChiNhanhDto> ddCN = new SfComboBox<int?, ChiNhanhDto>();
    private SfComboBox<int?, ChiNhanhDto> ddCNEdit = new SfComboBox<int?, ChiNhanhDto>();
    private List<TaiKhoanDto>? TaiKhoanDtos;
    private SfComboBox<int?, TaiKhoanDto> ddTK = new SfComboBox<int?, TaiKhoanDto>();
    private SfComboBox<int?, TaiKhoanDto> ddTKEdit = new SfComboBox<int?, TaiKhoanDto>();

    private SfGrid<DuDauKyCongNoDto> SfGrid = new SfGrid<DuDauKyCongNoDto>();
    public List<DuDauKyCongNoDto> DuDauKyCongNoDtos = new List<DuDauKyCongNoDto>();


    private bool IsShowModalEdit = false;
    private bool IsEditing = false;
    private DuDauKyCongNoRequest SelectDuDauKyCongNo = new DuDauKyCongNoRequest()
    {
        DuCo = 0,
        DuCoVND = 0,
        DuNo = 0,
        DuNoVND = 0
    };
    private List<KhachHangDto>? KhachHangDtos;
    private SfComboBox<int?, KhachHangDto> ddKHEdit = new SfComboBox<int?, KhachHangDto>();
    private List<VuViecDto>? VuViecDtos;
    private SfComboBox<int?, VuViecDto> ddVVEdit = new SfComboBox<int?, VuViecDto>();
    private List<DmMaPhiDto>? DmMaPhiDtos;
    private SfComboBox<int?, DmMaPhiDto> ddMPEdit = new SfComboBox<int?, DmMaPhiDto>();

    private bool IsShowModalTinhTong = false;
    private int? TinhTongTaiKhoanId { set; get; }
    private string? TinhTongTaiKhoanNm { set; get; }
    private int? TinhTongKhachHangId { set; get; }
    private string? TinhTongKhachHangNm { set; get; }
    private SfGrid<TinhTongDto> SfGridTinhTong = new SfGrid<TinhTongDto>();
    public List<TinhTongDto> TinhTongDtos = new List<TinhTongDto>();

    private bool ShowModalMessage = false;
    private bool CheckMessage = false;
    private string? TextMessage { set; get; }
    private bool CheckDelete { set; get; } = false;
    private bool IsDeleted { set; get; } = false;

    protected override async Task OnInitializedAsync()
    {
        if (!hasRefreshed)
        {
            ChiNhanhDtos = await _chiNhanh.GetListAsync();
            var chiNhanhId = await _localStorage.GetItemAsync<int?>("ChiNhanhHeThongId");
            var thamSo = await _thamSo.GetByThamSoHeThongUdAsync("NLDT_DATE");
            if (!chiNhanhId.HasValue)
            {
                var chiNhanh = ChiNhanhDtos.First(x => x.ChiNhanhUd == "TCT");
                SelectDauKy.ChiNhanhId = chiNhanh.Id;
                SelectDauKy.ChiNhanhNm = chiNhanh.ChiNhanhNm;
            }
            else
            {
                SelectDauKy.ChiNhanhId = chiNhanhId;
                SelectDauKy.ChiNhanhNm = ChiNhanhDtos.First(x => x.Id == chiNhanhId).ChiNhanhNm;
            }
            SelectDauKy.Ngay = thamSo.GiaTriDate ?? DateTime.Now;
            TaiKhoanDtos = await _taiKhoan.GetListAsync();
            hasRefreshed = true;
        }

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await _jsRuntime.InvokeVoidAsync("renameShowColumn", "Tìm kiếm...");
            await _jsRuntime.InvokeVoidAsync("getDotNetObjectReference", DotNetObjectReference.Create(this));
        }
    }

    private async Task ConfirmSelectAsync()
    {
        DuDauKyCongNoDtos = await _duDauKyCongNo.GetListAsync(SelectDauKy);
        await this.SfGrid.Refresh();
        IsShowModal = false;
        KhachHangDtos = await _khachHang.GetListAsync(SystemConstants.KhachHang.Loai0);
        VuViecDtos = await _vuViec.GetListAsync();
        DmMaPhiDtos = await _dmMaPhi.GetListAsync();
    }
    public async Task OnFilteringChiNhanh(Syncfusion.Blazor.DropDowns.FilteringEventArgs args)
    {
        args.PreventDefaultAction = true;
        var orWhere = WhereFilter.Or(new List<WhereFilter> {
            new WhereFilter() { Field = "ChiNhanhUd", Operator = "contains", value = args.Text, IgnoreCase = true },
            new WhereFilter() { Field = "ChiNhanhNm", Operator = "contains", value = args.Text, IgnoreCase = true }
        });
        var query = new Query().Where(orWhere);
        query = !string.IsNullOrEmpty(args.Text) ? query : new Query();
        await ddCN.FilterAsync(ChiNhanhDtos, query);
    }
    private void OnValueChangeChiNhanh(ChangeEventArgs<int?, ChiNhanhDto> args)
    {
        if (args.ItemData != null)
        {
            SelectDauKy.ChiNhanhNm = args.ItemData.ChiNhanhNm;
        }

    }
    public async Task OnFilteringTaiKhoan(Syncfusion.Blazor.DropDowns.FilteringEventArgs args)
    {
        args.PreventDefaultAction = true;
        var orWhere = WhereFilter.Or(new List<WhereFilter> {
            new WhereFilter() { Field = "TaiKhoanUd", Operator = "contains", value = args.Text, IgnoreCase = true },
            new WhereFilter() { Field = "TaiKhoanNm", Operator = "contains", value = args.Text, IgnoreCase = true }
        });
        var query = new Query().Where(orWhere);
        query = !string.IsNullOrEmpty(args.Text) ? query : new Query();
        await ddTK.FilterAsync(TaiKhoanDtos, query);
    }
    private void OnValueChangeTaiKhoan(ChangeEventArgs<int?, TaiKhoanDto> args)
    {
        if (args.ItemData != null)
        {
            SelectDauKy.TaiKhoanNm = args.ItemData.TaiKhoanNm;
        }
        else
        {
            SelectDauKy.TaiKhoanNm = "";
        }
    }  
    public async Task OnFilteringTaiKhoanEdit(Syncfusion.Blazor.DropDowns.FilteringEventArgs args)
    {
        args.PreventDefaultAction = true;
        var orWhere = WhereFilter.Or(new List<WhereFilter> {
            new WhereFilter() { Field = "TaiKhoanUd", Operator = "contains", value = args.Text, IgnoreCase = true },
            new WhereFilter() { Field = "TaiKhoanNm", Operator = "contains", value = args.Text, IgnoreCase = true }
        });
        var query = new Query().Where(orWhere);
        query = !string.IsNullOrEmpty(args.Text) ? query : new Query();
        await ddTKEdit.FilterAsync(TaiKhoanDtos, query);
    }
    private void OnValueChangeTaiKhoanEdit(ChangeEventArgs<int?, TaiKhoanDto> args)
    {
        if (args.ItemData != null)
        {
            SelectDuDauKyCongNo.TaiKhoanNm = args.ItemData.TaiKhoanNm;
        }
    }
    public async Task OnFilteringKhachHangEdit(Syncfusion.Blazor.DropDowns.FilteringEventArgs args)
    {
        args.PreventDefaultAction = true;
        var orWhere = WhereFilter.Or(new List<WhereFilter> {
            new WhereFilter() { Field = "KhachHangUd", Operator = "contains", value = args.Text, IgnoreCase = true },
            new WhereFilter() { Field = "KhachHangNm", Operator = "contains", value = args.Text, IgnoreCase = true }
        });
        var query = new Query().Where(orWhere);
        query = !string.IsNullOrEmpty(args.Text) ? query : new Query();
        await ddKHEdit.FilterAsync(KhachHangDtos, query);
    }
    private void OnValueChangeKhachHangEdit(ChangeEventArgs<int?, KhachHangDto> args)
    {
        if (args.ItemData != null)
        {
            SelectDuDauKyCongNo.KhachHangNm = args.ItemData.KhachHangNm;
        }
        else
        {
            SelectDuDauKyCongNo.KhachHangNm = "";
        }
    }
    public async Task OnFilteringVuViecEdit(Syncfusion.Blazor.DropDowns.FilteringEventArgs args)
    {
        args.PreventDefaultAction = true;
        var orWhere = WhereFilter.Or(new List<WhereFilter> {
            new WhereFilter() { Field = "VuViecUd", Operator = "contains", value = args.Text, IgnoreCase = true },
            new WhereFilter() { Field = "VuViecNm", Operator = "contains", value = args.Text, IgnoreCase = true }
        });
        var query = new Query().Where(orWhere);
        query = !string.IsNullOrEmpty(args.Text) ? query : new Query();
        await ddVVEdit.FilterAsync(VuViecDtos, query);
    }
    private void OnValueChangeVuViecEdit(ChangeEventArgs<int?, VuViecDto> args)
    {
        if (args.ItemData != null)
        {
            SelectDuDauKyCongNo.VuViecNm = args.ItemData.VuViecNm;
        }
        else
        {
            SelectDuDauKyCongNo.VuViecNm = "";
        }
    }
    public async Task OnFilteringMaPhiEdit(Syncfusion.Blazor.DropDowns.FilteringEventArgs args)
    {
        args.PreventDefaultAction = true;
        var orWhere = WhereFilter.Or(new List<WhereFilter> {
            new WhereFilter() { Field = "DmMaPhiUd", Operator = "contains", value = args.Text, IgnoreCase = true },
            new WhereFilter() { Field = "DmMaPhiNm", Operator = "contains", value = args.Text, IgnoreCase = true }
        });
        var query = new Query().Where(orWhere);
        query = !string.IsNullOrEmpty(args.Text) ? query : new Query();
        await ddMPEdit.FilterAsync(DmMaPhiDtos, query);
    }
    private void OnValueChangeMaPhiEdit(ChangeEventArgs<int?, DmMaPhiDto> args)
    {
        if (args.ItemData != null)
        {
            SelectDuDauKyCongNo.MaPhiNm = args.ItemData.DmMaPhiNm;
        }
        else
        {
            SelectDuDauKyCongNo.VuViecNm = "";
        }
    }
    private void OnValueChangeDuNoVND(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        SelectDuDauKyCongNo.DuNoVND = decimal.Parse(args.Value?.ToString() == "" ? "0" : args.Value?.ToString() ?? "0");
        SelectDuDauKyCongNo.DuCoVND = 0;
        SelectDuDauKyCongNo.DuCo = 0;
    }
    private void OnValueChangeDuCoVND(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        SelectDuDauKyCongNo.DuCoVND = decimal.Parse(args.Value?.ToString() == "" ? "0" : args.Value?.ToString() ?? "0");
        SelectDuDauKyCongNo.DuNoVND = 0;
        SelectDuDauKyCongNo.DuNo = 0;
    }
    private void OnValueChangeDuNo(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        SelectDuDauKyCongNo.DuNo = decimal.Parse(args.Value?.ToString() == "" ? "0" : args.Value?.ToString() ?? "0");
        SelectDuDauKyCongNo.DuCoVND = 0;
        SelectDuDauKyCongNo.DuCo = 0;
    }
    private void OnValueChangeDuCo(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        SelectDuDauKyCongNo.DuCo = decimal.Parse(args.Value?.ToString() == "" ? "0" : args.Value?.ToString() ?? "0");
        SelectDuDauKyCongNo.DuNoVND = 0;
        SelectDuDauKyCongNo.DuNo = 0;
    }
    private async Task SaveAsync()
    {
        if (!IsEditing)
        {
            var result = await _duDauKyCongNo.CreateAsync(SelectDuDauKyCongNo);
            if (result.IsSuccessed)
            {
                DuDauKyCongNoDtos = await _duDauKyCongNo.GetListAsync(SelectDauKy);
                await this.SfGrid.Refresh();
                IsShowModalEdit = false;
            }
            CheckMessage = result.IsSuccessed;
            TextMessage = result.Message;
            ShowModalMessage = true;
        }
        else
        {
            var result = await _duDauKyCongNo.UpdateAsync(SelectDuDauKyCongNo.Id, SelectDuDauKyCongNo);
            if (result.IsSuccessed)
            {
                DuDauKyCongNoDtos = await _duDauKyCongNo.GetListAsync(SelectDauKy);
                await this.SfGrid.Refresh();
                IsEditing = false;
                IsShowModalEdit = false;
            }
            CheckMessage = result.IsSuccessed;
            TextMessage = result.Message;
            ShowModalMessage = true;
        }

    }    
    private void CloseModalEdit()
    {
        IsShowModalEdit = false;
    }
    private async Task OnKeyUp(KeyboardEventArgs args)
    {
        if (args.Key == "F3")
        {
            await this.EditAsync();
        }
        else if (args.Key == "F9")
        {
            await this.ExportToExcelAsync();
        }
        else if (args.Key == "F8")
        {
            await this.DeleteAsync();
        }
        else if (args.Key == "F10")
        {
            TinhTongTaiKhoanId = SelectDauKy.TaiKhoanId;
            TinhTongTaiKhoanNm = SelectDauKy.TaiKhoanNm;
            IsShowModalTinhTong = true;
        }

    }
    private void AddAsync()
    {
        SelectDuDauKyCongNo = new DuDauKyCongNoRequest()
            {
                ChiNhanhId = SelectDauKy.ChiNhanhId,
                ChiNhanhNm = SelectDauKy.ChiNhanhNm,
                TaiKhoanId = SelectDauKy.TaiKhoanId,
                TaiKhoanNm = SelectDauKy.TaiKhoanNm,
                Ngay = SelectDauKy.Ngay,
                DuCo = 0,
                DuCoVND = 0,
                DuNo = 0,
                DuNoVND = 0
            };
        IsShowModalEdit = true;
    }
    private async Task EditAsync()
    {
        var selectedRecords = await SfGrid.GetSelectedRecordsAsync();
        if (selectedRecords.Count > 0)
        {
            IsEditing = true;
            var item = await _duDauKyCongNo.GetByIdAsync(selectedRecords.First().Id);
            SelectDuDauKyCongNo = _objectMapper.Map<DuDauKyCongNoDto, DuDauKyCongNoRequest>(item);
            IsShowModalEdit = true;
        }
        else
        {
            TextMessage = "Bạn chưa chọn dòng.";
            CheckMessage = false;
            ShowModalMessage = true;
        }
        StateHasChanged();
    }    
    private async Task DeleteAsync()
    {
        var selectedRecords = await SfGrid.GetSelectedRecordsAsync();
        if (selectedRecords.Count > 0)
        {
            CheckDelete = true;
            string names = "";
            foreach (var data in selectedRecords)
                names += data.TaiKhoanUd + ", ";
            names = names.TrimEnd(',', ' ');
            TextMessage = $"Xác nhận xóa <b>{selectedRecords.Count.ToString("00")}</b> tài khoản có mã {(selectedRecords.Count > 1 ? "gồm" : "")}: <span style='color:red'>{names}</span>";
            ShowModalMessage = true;
        }
        else
        {
            TextMessage = "Bạn chưa chọn dòng.";
            ShowModalMessage = true;
            CheckMessage = false;
        }
        StateHasChanged();
    }     
    private async Task ConfirmDeleleAsync()
    {
        CheckDelete = false;
        var selectedRecords = await SfGrid.GetSelectedRecordsAsync();
        if (selectedRecords.Count > 0)
        {
            var ids = new List<int?>();
            foreach (var data in selectedRecords)
                ids.Add(data.Id);
            var result = await _duDauKyCongNo.DeleteListAsync(ids);
            if (result.IsSuccessed)
            {
                IsDeleted = true;
                DuDauKyCongNoDtos = await _duDauKyCongNo.GetListAsync(SelectDauKy);
                await this.SfGrid.Refresh();
            }
            TextMessage = result.Message;
            CheckMessage = result.IsSuccessed;
            ShowModalMessage = true;
        }        
    }    
    private async Task RefreshAsync()
    {
        await this.SfGrid.SearchAsync(string.Empty);
        DuDauKyCongNoDtos = await _duDauKyCongNo.GetListAsync(SelectDauKy);
        await this.SfGrid.Refresh();        
    }   
    private async Task ExportToExcelAsync()
    {
        string name = "Danh sách số dư đầu kỳ công nợ";
        var content = _duDauKyCongNo.ExportExcel(DuDauKyCongNoDtos, name);
        var fileName = $"{name}.xlsx";
        var contentType = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet";
        var base64 = Convert.ToBase64String(content);
        await _jsRuntime.InvokeVoidAsync("downloadFileFromBase64", fileName, contentType, base64);
    }
    //Call Back From Js function
    [JSInvokable("searchInputNavbar")]
    public async Task SearchAsync(string search)
    {
        await this.SfGrid.SearchAsync(search);
    }
    public async Task RecordDoubleClickHandler(RecordDoubleClickEventArgs<DuDauKyCongNoDto> args)
    {
        IsEditing = true;
        var item = await _duDauKyCongNo.GetByIdAsync(args.RowData.Id);
        SelectDuDauKyCongNo = _objectMapper.Map<DuDauKyCongNoDto, DuDauKyCongNoRequest>(item);
        IsShowModalEdit = true;
        StateHasChanged();
    }
    //Tính tổng
    private void OnValueChangeTaiKhoanTinhTong(ChangeEventArgs<int?, TaiKhoanDto> args)
    {
        if (args.ItemData != null)
            TinhTongTaiKhoanNm = args.ItemData.TaiKhoanNm;
        else
            TinhTongTaiKhoanNm = null;
    }
    private void OnValueChangeKhachHangTinhTong(ChangeEventArgs<int?, KhachHangDto> args)
    {
        if (args.ItemData != null)
            TinhTongKhachHangNm = args.ItemData.KhachHangNm;
        else
            TinhTongKhachHangNm = null;
    }
    private async Task TinhTongAsync()
    {
        TinhTongDtos = await _duDauKyCongNo.TinhTongAsync(TinhTongTaiKhoanId,TinhTongKhachHangId, DuDauKyCongNoDtos);
        await this.SfGridTinhTong.Refresh();
    }
    private void CloseModalTinhTong()
    {
        IsShowModalTinhTong = false;
    }
    private void CloseModalMessage()
    {
        ShowModalMessage = false;
        CheckMessage = false;
        CheckDelete = false;
    }
}
